@charset "utf-8";
@use "../mixin";

.edit-list {
  margin: 0 auto;
  @include mixin.tablet {
    margin-left: 30px;
  }
  @include mixin.mobile {
    margin-left: 30px;
  }
}

.edit-list-form {
  color: #555555;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.delete-list-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: #242f9b;
  @include mixin.white-color;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}
