@charset "utf-8";
@use "../mixin";

.new-list {
  width: 1000px;
  margin: 0 auto;
  @include mixin.tablet {
    margin-left: 30px;
  }
  @include mixin.mobile {
    margin-left: 30px;
  }
}

.new-list-form {
  color: #555555;

  > input {
    @include mixin.tablet {
      width: 600px;
      padding: 1em 0.5em;
      line-height: 1.5;
      font-size: 130%;
    }
  }
}

.new-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.new-list-button {
  background-color: #242f9b;
  @include mixin.white-color;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}
