@mixin white-color {
  color: #ffffff;
}

@mixin common-signin-and-up {
  width: 80%;
  margin: 0 auto;
  @include tablet {
    margin-left: 30px;
  }
  @include mobile {
    margin-left: 30px;
  }
}

@mixin common-signin-and-up-form {
  margin: 25px 0;
  color: #555555;
  // @include tablet {
  //   text-align: center;
  // }
  // @include mobile {
  //   text-align: center;
  // }
}

@mixin common-signin-and-up-btn {
  background-color: #242f9b;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

$tablet: 768px;
$smartphone: 320px;

@mixin mobile {
  @media screen and (max-width: $smartphone) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: $tablet) {
    @content;
  }
}
